[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
django = "*"
dj-database-url = "*"
rules = "*"
psycopg2-binary = "*"
mistletoe = "*"
requests = "*"
django-sass-processor = "*"
libsass = "*"
discord = {py = "*"}
gunicorn = "*"

[requires]
python_version = "3.6"
