$headingfont: "Open Sans", sans-serif;
$background: rgb(239, 239, 239);
$background_dark: rgb(225, 225, 219);
$default_font_color: #222;
$default_link_color: rgb(28, 150, 207);
$default_visited_color: $default_link_color;

$header_background: rgb(59, 46, 42);
$header_font_color: #FFFDD0;
$header_height: 10vh;

$accent_color: #b7410e;
$accent_color_dark: #7a2a08;
$button_font_color: #FFFDD0;

$default_body_padding: 3vh 3rem;

$snip-width: 80vw;
$snip-max-width: 1200px;
