@import "_variables";

body {
  font-family: $headingfont;
  background-color: $background;
  color: $default_font_color;
  padding: $default_body_padding;
  line-height: 1.4;
  font-size: 14pt;
}

.header {
  background-color: $header_background;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $header_height;
  color: $header_font_color;
}

.header-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-element {
  height: 100%;
  margin: 2vh 1rem;
}

#content {
  margin-top: $header_height;
}

.character {
  background-color: $background_dark;
  border-radius: 5px;
  padding: 5px 0.4rem;
}

.cardline {
  margin: 5px 0;
}

.title {
  font-size: 28px;
}

a {
  text-decoration: none;
}

a:link {
  color: $default_link_color;
}

a:visited {
  color: $default_visited_color;
}

a:focus {
}

a:hover {
  text-decoration: underline;
}

a:active {
}

.button {
  padding: 5px 0.4rem;
  margin: 5px 0px;
  line-height: 2;
  background-color: $accent_color;
  border-radius: 5px;
}

input.button {
  color: $button_font_color;
  font-family: $headingfont;
  border: none;
  line-height: 1;
}

.button:link {
  color: $button_font_color;
}

.button:visited {
  color: $button_font_color;
}

.button:hover {
  text-decoration: none;
  background-color: $accent_color_dark;
}
