{% extends "base.html" %}

{% block content %}
<p><em>Adding characters to <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a> by {{ object.author.name }}</em></p>
<p><a class='button' href='{% url "createtag" %}?return={{ request.path }}'>Make a new character</a></p>
<form method='POST'>
  {% csrf_token %}
  <table>
    {% for field in form %}
    <tr>
      <td>
        {{ field }}
      </td>
      <td>
        {{ field.label }}
      </td>
    </tr>
    {% endfor %}
  </table>
  <input class='button' type='submit' value='Add'>
</form>
{% endblock %}
