{% extends "base.html" %}

{% load rules %}
{% load sass_tags %}

{% block css %}
<link href='{% sass_src "snip-list.scss" %}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<h1>Snip index </h1>
<a class='button' href='{% url "snip-search" %}'>Search</a>
{% include "snips/pagination_fragment.html" with page_obj=page_obj list=object_list pageinfo=pageinfo %}
<form method='POST'>
  {% csrf_token %}
  {{ form.perpage }}
  <input type='submit' class='button' value='Change'>
</form>
<div class='snips'>
  {% for snip in object_list %}
    <div class='snipcard'>
      {% include "snips/story-card_fragment.html" with snip=snip %}
      {% include "snips/editbuttons_fragment.html" with request=request object=snip %}
    </div>
  {% endfor %}
</div>
{% if is_paginated %}
  {% include "snips/pagination_fragment.html" with page_obj=page_obj list=object_list snipcount=total_snips %}
{% endif %}
{% endblock %}
