{% extends "base.html" %}

{% load rules %}

{% block content %}
<h1>Snip index</h1>
{% if is_paginated %}
  {% include "snips/pagination_fragment.html" with page_obj=page_obj list=object_list pageinfo=pageinfo %}
{% endif %}
{% for snip in object_list %}
{% test_rule "can_change_snip" request snip as canchange %}
<div>
  {% include "snips/story-card_fragment.html" with snip=snip %}
  {% if canchange %}
  <a href='{% url "snip-edit" snip.pk %}'><button>Edit</button></a>
  {% endif %}
</div>
<hr>
{% endfor %}
{% if is_paginated %}
  {% include "snips/pagination_fragment.html" with page_obj=page_obj list=object_list snipcount=total_snips %}
{% endif %}
{% endblock %}
