{% extends "base.html" %}

{% load rules %}
{% load sass_tags %}

{% block css %}
<link href='{% sass_src "snip-single.scss" %}' rel='stylesheet' type='text/css'/>
{% endblock %}

{% block content %}
{% include "snips/editbuttons_fragment.html" with request=request object=object %}
<h1 class='snip-title'>{{ object.title }}<a class='discordlink' href='{{ discordlink }}'>(link)</a></h1>
<h2 class='snip-author'>By {% include "snips/author-filter_fragment.html" with author=object.author %}</h2>
<div class='dateposted'>Posted {{ object.timeposted |date:"l, Y-m-d H-i"}} (UTC)</div>
<div class='characters'>Characters:
{% for tag in object.tags.all %}
  <span class='character'>{{ tag.tagname }}</span>
{% endfor %}
</div>
<hr>
<div class='snip'>
  {{ object.content_html |safe }}
</div>
{% endblock %}
