<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %} [PCT Archive]</title>
    </head>

    <body>
    <nav>
        <span>
            <a href='/'>Snips index</a>
        </span>
        <span>
            {% if request.session.authenticated %}
            Logged in as {{ request.session.discord_username }}
            <a href='{% url "logout" %}'>Logout</a>
            {% else %}
            <a href='{% url "auth-landing" %}'>Login with Discord!</a>
            {% endif %}
        </span>
    </nav>
    {% block content %}{% endblock content %}
    </body>
</html>
