<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %} [PCT Archive]</title>
        <meta name='viewport' content='width=device-width'>
        <meta charset='utf-8'>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
        {% load sass_tags %}
        <link href='{% sass_src "base.scss" %}' rel='stylesheet' type='text/css'/>
        {% block css %}{% endblock %}
    </head>

    {% block javascript %}{% endblock %}
    <body>
    <div class='header'>
        <nav class='header-nav'>
            <span class='nav-element logo left'>
                <a href='/'><img class='cone' src='/static/cone.png'></a>
            </span>
            {% if request.session.authenticated %}
            <span class='nav-element right'>
                <span class='discorduser'>
                    <a href='{% url "snip-index" %}?author={{ request.session.author_id }}'>
                    <img src='https://cdn.discordapp.com/avatars/{{ request.session.discord_id }}/{{ request.session.discord_avatar }}.png?size=32'>
                    {{ request.session.discord_username }}
                    </a>
                </span>
            </span>
            <span class='nav-element'>
                <a class='button' href='{% url "logout" %}'>Logout</a>
            </span>
            {% else %}
            <span class='nav-element right'>
                <a class='button' href='{% url "auth-landing" %}'>Login with Discord!</a>
            </span>
            {% endif %}
        </nav>
    </div>
    <div id='content'>
        {% block content %}{% endblock content %}
    </div>
    </body>
</html>
